@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is the first page of an ongoing project to run containers in Kubernates on a Raspberry Pi cluster. The code 
        is deployed from GitHub Actions via a Docker respository push.  K8s pulls down the image and deploys it to 
        the cluster via ....?</p>
</div>
