@{
    ViewData["Title"] = "Ubiquitous Byte";
}

<div >
    <h3>Ubiquitous Byte on <span style="color: red;">@ViewData["MachineName"]</span></h3>
    <p class="Lead">
        Listed below is the status of each Ubiquitous Byte micro-service.
    </p>
    <hr>
    <ul class="list-group">

        <li class="list-group-item list-group-item-success">Weather Service</li>

    </ul>
</div>
