@{
    ViewData["Title"] = "Ubiquitous Byte";
}

<div >
    <h3>Microservice Health Check Dashboard</span></h3>
    <p class="Lead">
        The below list shows all microservices logged and the health of each one.
    </p>
    <hr>
    <ul class="list-group">
        <li class="list-group-item list-group-item-success"></li>
    </ul>
</div>


